<div class="round-reasons">
  <div class="round">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
  </div>
  <div class="round-reason-wrapper">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
  </div>
  <div class="round-reason-wrapper">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
  </div>
  <div class="round-reason-wrapper">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/timeout.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
  </div>
  <div class="round-2">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
  </div>
  <div class="divider">
    <img class="line" src="../../assets/roundWinReason/divider-line.svg" /> <img class="line"
      src="../../assets/roundWinReason/divider-line.svg" />
  </div>
  <div class="round-3">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
  </div>
  <div class="round-3">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
  </div>
  <div class="round-4">
    <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
  </div>
</div>