#board {
    width: 650px;
    height: 650px;
}

.board-display {
    display: flex;
    justify-content: center;
    filter: drop-shadow(3px 3px 8px black);
}

.eval-bar {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.eval-black {
    background-color: black;
}

.eval-white {
    background-color: var(--light);
}

.eval-black, .eval-white {
    transition: height 0.2s ease-in-out;
}

.header, .header-dark {
    height: 81px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 65px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.header-dark {
    background-color: var(--less-dark);
}

.header {
    color: var(--dark);
    background-color: #ffe400;
}

.header-bottom {
    padding-top: 30px;
}

.turn {
    display: inline-block;
    color: var(--cerise);
}

.chat-with-header {
    display: flex;
    flex-direction: column;
}

.white {
    background-color: var(--light);
    color: var(--dark);
}

.black {
    background-color: var(--dark);
    color: var(--light);
}

.chat-header {
    width: 100%;
    font-family: 'Montserrat';
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 650px;
}

.full-board {
    width: 1920px;
    height: 1080px;
    background-color: var(--grunge-slate);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.blue {
    color: var(--blue-dodger);
}

.red {
    color: var(--cerise);
}

.banner {
    width: 100%;
    height: 24px;
    text-align: center;
    color: #FFE400;
}

.score {
    display: flex;
    justify-content: space-between;
}

.na-score, .eu-score {
    padding-right: 50px;
    padding-left: 50px;
}

.chat {
    overflow: hidden;
    display: block;
    height: 400px;
    width: 274px;
    border: 4px solid black;
}

.move-header {
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    overflow: hidden;
    line-height: normal;
    color: var(--light);
    word-wrap: break-word;
    max-width: 274px;
    white-space: nowrap;
}

.move {
    height: 200px;
    width: 274px;
}

.move-content {
    font-family: 'Montserrat';
    font-size: 100px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}