<div class="full-board" [style.marginTop.px]="getDisplay()">
    <div class="header">
        HOOJ WILL BE RIGHT BACK, CHAT PLAYS CHESS!
    </div>
    <div class="content">
        <div class="na team-container">
            <div class="move blue">
                <div class="move-header">{{naPlayer.toUpperCase()}}</div>
                <div class="move-content blue">{{getMostRecentMove('b').toUpperCase()}}</div>
            </div>

            <div class="chat-with-header">
                <div class="chat-header black">
                    NA
                </div>
                <app-chat class="na-chat chat" [regionCheck]="1"></app-chat>
            </div>
        </div>

        <div class="board-display">
            <div class="eval-bar">
                <div class="eval-black" [style.height.%]="100 - evalWhite()"></div>
                <div class="eval-white" [style.height.%]="evalWhite()"></div>
            </div>
            <div id="board"></div>
        </div>

        <div class="eu team-container">
            <div class="chat-with-header">
                <div class="chat-header white">
                    NOT NA
                </div>
                <app-chat class="eu-chat chat" [regionCheck]="2"></app-chat>
            </div>
            <div class="move red">
                <div class="move-header header-bottom">{{euPlayer.toUpperCase()}}</div>
                <div class="move-content red">{{getMostRecentMove('w').toUpperCase()}}</div>
            </div>

        </div>
    </div>

    <div class="score header-dark">
        <div class="na-score blue">
            {{naScore}} WINS
        </div>

        <div class="eu-score red">
            {{euScore}} WINS
        </div>
    </div>
</div>