.topinfo-container {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 4px;
    gap: 4px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    &-right {
        @extend .topinfo-container;
        left: 1363px;
    }
}

.topinfo-pill {
    display: flex;
    width: 180px;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px 2px;
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, rgba(15, 25, 35, 0.85) 0%, rgba(31.14, 37.75, 40.58, 0.85) 100%);
    &-flex {
        @extend .topinfo-pill;
        width: auto;
    }
}

.topinfo-pill-text {
    position: relative;
    width: fit-content;
    font-family: Montserrat, Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;

}

.topinfo-ad-display {
    position: absolute;
    width: 240px;
    height: 88px;
    top: 0;
    left: 1680px;
    background: rgba(0, 0, 0, 0.6)
}

.UP-onlylogo {
    position: absolute;
    width: 156px;
    height: 71px;
    top: 11px;
    left: 42px;
    object-fit: cover;
}