<div class="topinfo-container">
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">INCREDIBLY</div>
    </div>
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">INTERESTING</div>
    </div>
    <div class="topinfo-pill">
        <div class="topinfo-pill-text">INFORMATION</div>
    </div>
</div>
<div class="topinfo-container-right">
    <div class="topinfo-pill-flex">
        <div class="topinfo-pill-text">UNDERPEEL SEASON 4: DEBUG</div>
    </div>
</div>
<div class="topinfo-ad-display">
    <img class="UP-onlylogo" src="../../assets/underpeel-logo.png" />
</div>