<div class="inhouse-tracker" class="trackerMain" *ngIf="activelyTracking">

    <!-- LEFT TEAM -->
    <div class="teamLeftContainer" *ngIf="teamLeft.players.length >= 1">
        <div class="playerContainer" *ngFor="let player of teamLeft.players">
            <div class="playerLeftDisplay-{{player.position}}">
                <div class="playerLeftUpper">
                    <span class="agentLeftIconContainer">
                        <img class="agentLeftIcon" src="../../assets/agents/{{player.agentProper}}Icon.png">
                    </span>
                    <span class="weaponLeftIconContainer">
                        <img class="weaponLeftIcon" src="../../assets/weapons/{{player.highestWeapon}}Killfeed.png">
                    </span>
                    <span class="moneyLeft">
                        {{player.money}} <img src="../../assets/ValorantCredits.png">
                    </span>
                </div>
                <div class="playerLeftLower">
                    <span class="playerLeftName">
                        {{player.name}}
                    </span>
                    <span class="playerLeftUltContainer">
                        <span class="playerLeftUlt" *ngFor="let i of numSequence(player.currUltPoints)">
                            <a id="ultOrbFull"></a>
                        </span>
                        <span class="playerLeftUlt"
                            *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)">
                            <a id="ultOrbEmpty"></a>
                        </span>
                    </span>
                    <span class="playerLeftHp">
                        50 100
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT TEAM -->
    <div class="teamRightContainer" *ngIf="teamRight.players.length >= 1">
        <div class="playerContainer" *ngFor="let player of teamRight.players">
            <div class="playerRightDisplay-{{player.position}}">
                <div class="playerRightUpper">
                    <span class="moneyRight">
                        {{player.money}} <img src="../../assets/ValorantCredits.png">
                    </span>
                    <span class="weaponRightIconContainer">
                        <img class="weaponRightIcon" src="../../assets/weapons/{{player.highestWeapon}}Killfeed.png">
                    </span>
                    <span class="agentRightIconContainer">
                        <img class="agentRightIcon" src="../../assets/agents/{{player.agentProper}}Icon.png">
                    </span>
                </div>
                <div class="playerRightLower">
                    <span class="playerRightHp">
                        50 100
                    </span>
                    <span class="playerRightUltContainer">
                        <span class="playerRightUlt" *ngFor="let i of numSequence(player.currUltPoints)">
                            <a id="ultOrbFull"></a>
                        </span>
                        <span class="playerRightUlt"
                            *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)">
                            <a id="ultOrbEmpty"></a>
                        </span>
                    </span>
                    <span class="playerRightName">
                        {{player.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="!activelyTracking">
</ng-container>