<div class="UP-previewscreen">
  <div class="overlap">
    <div class="frame">
      <div class="header-scoreboard">
        <div class="div">
          <div class="frame-2">
            <div class="rectangle"></div>
            <div class="frame-3">
              <div class="text-wrapper">SEN</div>
              <div class="text-wrapper-2">AMER#1</div>
            </div>
          </div>
          <div class="rectangle-2"></div>
          <div class="div-wrapper">
            <div class="text-wrapper-3">6</div>
          </div>
        </div>
        <div class="div">
          <div class="frame-4">
            <div class="text-wrapper-3">9</div>
          </div>
          <div class="rectangle-3"></div>
          <div class="frame-2">
            <div class="frame-3">
              <div class="text-wrapper">GEN</div>
              <div class="text-wrapper-2">PAC#1</div>
            </div>
            <img class="polygon" src="img/polygon-5.svg" />
          </div>
        </div>
      </div>
      <div class="pips-mapwin">
        <div class="frame-5">
          <div class="ellipse"></div>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="frame-6">
          <div class="ellipse-2"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse"></div>
        </div>
      </div>
    </div>
    <div class="spike-indicator">
      <div class="spike-icon">
        <div class="overlap-group">
          <img class="vector" src="img/vector-33.svg" /> <img class="subtract" src="img/subtract.svg" />
        </div>
      </div>
      <img class="img" src="img/polygon-4.svg" />
    </div>
    <div class="text-wrapper-4">ROUND 9</div>
  </div>
  <div class="map-identifier">
    <div class="map-previous">
      <div class="text-wrapper-5">BIND: SEN 16-14 GEN</div>
    </div>
    <div class="map-current">
      <div class="text-wrapper-5">CURRENT: BREEZE</div>
    </div>
    <div class="map-next">
      <div class="text-wrapper-5">NEXT: ASCENT</div>
    </div>
  </div>
  <div class="event-name">
    <div class="text-wrapper-5">UNDERPEEL SEASON 4: FINALS</div>
  </div>
  <div class="ad-display"><img class="UP-onlylogo" src="img/UP-onlylogo-1.png" /></div>

  
  <div class="frame-7">
    <div class="frame-8">
      <div class="frame-9">
        <img class="polygon" src="https://dnkl.gg/UP7NG" />
        <div class="frame-10">
          <div class="frame-11">
            <div class="text-wrapper-6">Penguin.PNG</div>
            <div class="frame-10">
              <div class="text-wrapper-7">$10,650</div>
              <div class="text-wrapper-8">LOADOUT VALUE</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="round-reasons">
        <div class="round">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/timeout.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="divider">
          <img class="line" src="../../assets/roundWinReason/divider-line.svg" /> <img class="line" src="../../assets/roundWinReason/divider-line.svg" />
        </div>
        <div class="round-3">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-3">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-4">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
      </div> -->
      <div class="frame-9 flip">
        <img class="polygon flip" src="https://dnkl.gg/CArdl" />
        <div class="frame-10 flip">
          <div class="frame-11">
            <div class="text-wrapper-6">100 Bees</div>
            <div class="frame-10">
              <div class="text-wrapper-8">LOADOUT VALUE</div>
              <div class="text-wrapper-7">$10,650</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-14">
      <div class="frame-15">
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-15 flip">
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-11 text-red">-$</span> <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p"><span class="text-wrapper-11 text-white">$</span> <span
                  class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>