@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.UP-mainscreen-lite .flip {
    transform: rotateY(180deg);
}

.UP-mainscreen-lite {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url(https://dnkl.gg/oOCLQ);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .overlap-group {
    position: absolute;
    width: 601px;
    height: 143px;
    top: 4px;
    left: 660px;
  }
  
  .UP-mainscreen-lite .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 5px;
    left: 0;
  }
  
  .UP-mainscreen-lite .header-scoreboard {
    display: inline-flex;
    height: 62.76px;
    align-items: flex-start;
    justify-content: center;
    gap: 168.97px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -1px 1px 1px #0000001f;
  }
  
  .UP-mainscreen-lite .div {
    display: flex;
    width: 216px;
    align-items: center;
    position: relative;
    align-self: stretch;
  }
  
  .UP-mainscreen-lite .div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.07px;
    padding: 4.83px 0px 0px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #0f1923d9;
  }
  
  .UP-mainscreen-lite .logo-teama {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(https://dnkl.gg/UP7NG);
    border-radius: 2px;
  }
  
  .UP-mainscreen-lite .div-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.21px;
    font-family: "Unbounded-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .UP-mainscreen-lite .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Unbounded-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff99;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.24px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .UP-mainscreen-lite .scb-divider {
    position: relative;
    align-self: stretch;
    width: 3.62px;
    background-color: #61eab6;
  }
  
  .UP-mainscreen-lite .scb-roundswon {
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    justify-content: center;
    gap: 12.07px;
    position: relative;
    align-self: stretch;
    background-color: #25ac79;
    border-radius: 0px 4px 4px 0px;
    border: 0px none;
  }
  
  .UP-mainscreen-lite .text-wrapper-3 {
    position: relative;
    width: fit-content;
    text-shadow: 0px 1.21px 4.83px #0000001f;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: normal;
  }
  
  .UP-mainscreen-lite .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    justify-content: center;
    gap: 12.07px;
    position: relative;
    align-self: stretch;
    background-color: #b82e3c;
    border-radius: 4px 0px 0px 4px;
    border: 0px none;
  }
  
  .UP-mainscreen-lite .rectangle {
    position: relative;
    align-self: stretch;
    width: 3.62px;
    background-color: #ff4557;
  }
  
  .UP-mainscreen-lite .polygon {
    position: relative;
    width: 38.34px;
    height: 38.34px;
  }
  
  .UP-mainscreen-lite .pips-mapwin {
    position: relative;
    width: 296px;
    height: 11px;
  }
  
  .UP-mainscreen-lite .mapwin-left {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .UP-mainscreen-lite .mapwin {
    position: relative;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border-radius: 999px;
    border: 1.5px solid;
    border-color: #ffffff80;
  }
  
  .UP-mainscreen-lite .mapwin-2 {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 999px;
    border: 1.5px solid;
    border-color: #ffffff80;
  }
  
  .UP-mainscreen-lite .mapwin-right {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 0;
    left: 239px;
  }
  
  .UP-mainscreen-lite .spike-indicator {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .spike-icon {
    position: relative;
    width: 67.24px;
    height: 61.99px;
    margin-top: -7px;
    margin-bottom: -9px;
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .UP-mainscreen-lite .indicator-right {
    position: absolute;
    width: 13px;
    height: 14px;
    top: 16px;
    left: 61px;
  }
  
  .UP-mainscreen-lite .text-wrapper-4 {
    font-family: "Unbounded-Bold", Helvetica;
    font-weight: 700;
    color: #fefeff99;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.39px;
    line-height: normal;
  }
  
  .UP-mainscreen-lite .frame-2 {
    position: absolute;
    width: 1802px;
    height: 434px;
    top: 623px;
    left: 59px;
  }
  
  .UP-mainscreen-lite .playercards {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .UP-mainscreen-lite .player-container {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .UP-mainscreen-lite .player-container-right {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    transform: rotateY(180deg);
  }

  .UP-mainscreen-lite .agent-icon {
    left: 315px;
    z-index: 1;
    transform: rotateY(180deg);
    background-image: url(../../assets/agents/ChamberIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    aspect-ratio: 1;
    height: 100%;
    top: 0;
  }
  
  .UP-mainscreen-lite .img {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
    object-fit: cover;
  }
  
  .UP-mainscreen-lite .player-card {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    z-index: 0;
  }

  .UP-mainscreen-lite .player-card-right {
    display: inline-flex;
    align-items: flex-end;
    position: relative;
    flex: 0 0 auto;
    z-index: 0;
  }
  
  .UP-mainscreen-lite .player-gear {
    align-items: flex-end;
    padding: 0px 18px 4px 0px;
    background: linear-gradient(
      180deg,
      rgba(255, 69, 87, 0.52) 0%,
      rgba(255, 69, 87, 0.3) 58.5%,
      rgba(26.56, 7.42, 9.27, 0.09) 90.5%,
      rgba(10.63, 3.05, 3.79, 0) 100%
    );
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 74px;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    border: 0px none;
  }
  
  .UP-mainscreen-lite .weapon-icon-medium {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }

  .UP-mainscreen-lite .weapon-icon-medium-right {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    transform: rotateY(180deg);
  }
  
  .UP-mainscreen-lite .phantom-killfeed {
    position: relative;
    height: 32px;
    object-fit: cover;
    transform: rotateY(180deg);
  }
  
  .UP-mainscreen-lite .utility-container {
    display: inline-flex;
    height: 21.33px;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .UP-mainscreen-lite .spike-icon-small {
    position: relative;
    width: 59.9px;
    height: 57.53px;
    margin-top: -18.1px;
    margin-bottom: -18.1px;
    margin-left: -18.1px;
  }
  
  .UP-mainscreen-lite .ultimate-tracker {
    display: inline-flex;
    align-items: center;
    gap: 1px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .pip-ultimate {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: -2px;
    background-image: url(../../assets/shop/ultimate-pip.svg);
    background-size: 100% 100%;
  }

  .UP-mainscreen-lite .pip-ultimate-full {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: -2px;
    background-image: url(../../assets/shop/ultimate-pip-full.svg);
    background-size: 100% 100%;
  }
  
  .UP-mainscreen-lite .player-container-2 {
    justify-content: flex-end;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .rank-badge-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    left: 177px;
    z-index: 1;
  }
  
  .UP-mainscreen-lite .agent-icon-2 {
    left: 129px;
    z-index: 0;
    transform: rotate(180deg);
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
  }
  
  .UP-mainscreen-lite .rank-badge-3 {
    left: 363px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Ascendant_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .rank-badge-4 {
    left: 363px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Ascendant_2_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .rank-badge-5 {
    left: 363px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Ascendant_1_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .playercards-leftteam {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .UP-mainscreen-lite .rank-icon {
    left: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Gold_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .UP-mainscreen-lite .rank-icon-right {
    right: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Gold_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .agent-icon-3 {
    left: -44px;
    z-index: 1;
    background-image: url(../../assets/agents/ChamberIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    aspect-ratio: 1;
    height: 100%;
    top: 0;
  }

  .UP-mainscreen-lite .agent-icon-3-right {
    right: -44px;
    z-index: 1;
    background-image: url(../../assets/agents/ChamberIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    aspect-ratio: 1;
    height: 100%;
    top: 0;
  }
  
  .UP-mainscreen-lite .player-info {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 74px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 0px 2px 32px;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #61eab6;
  }

  .UP-mainscreen-lite .player-info-right {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 74px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 0px 2px 32px;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #FF4557;
  }

  .player-info-background-alive {
    background: linear-gradient(90deg, rgba(31, 122, 88, 0.70) 0%, rgba(31, 122, 88, 0.00) 100%), rgba(15, 25, 35, 0.60);
  }

  .player-info-background-alive-right {
    background: linear-gradient(90deg, rgba(255, 69, 87, 0.70) 0%, rgba(31, 122, 88, 0.00) 100%), rgba(15, 25, 35, 0.60);
  }

  .player-info-background-dead {
    background: rgba(15, 25, 35, 0.60);
  }
  
  .UP-mainscreen-lite .spectator-container {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .UP-mainscreen-lite .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .shields-currency {
    display: inline-flex;
    height: 20px;
    align-items: center;
    gap: 6px;
    position: relative;
  }
  
  .UP-mainscreen-lite .img-2 {
    height: 22px;
    width: 22px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .currency-container {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .valorant-credits {
    position: relative;
    width: 8px;
    height: 8px;
  }
  
  .UP-mainscreen-lite .currency-title {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.8;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #61eab6;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .UP-mainscreen-lite .currency-title-right {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.8;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #FF4557;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .UP-mainscreen-lite .fill-green {
    fill: #61eab6;
  }

  .UP-mainscreen-lite .fill-red {
    fill: #FF4557;
  }
  
  .UP-mainscreen-lite .username-container {
    display: inline-flex;
    height: 15px;
    align-items: center;
    gap: 4px;
    position: relative;
  }
  
  .UP-mainscreen-lite .username-title {
    position: relative;
    width: fit-content;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .UP-mainscreen-lite .weapon-icon-medium-wrapper {
    align-items: flex-start;
    padding: 0px 0px 4px 18px;
    background: linear-gradient(
      90deg,
      rgba(97, 234, 182, 0.52) 0%,
      rgba(56.26, 135.72, 105.56, 0.3) 58.5%,
      rgba(17.62, 42.51, 33.07, 0.09) 90.5%,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 74px;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    border: 0px none;
  }

  .UP-mainscreen-lite .weapon-icon-medium-wrapper-right {
    align-items: flex-start;
    padding: 0px 0px 4px 18px;
    background: linear-gradient(
      90deg,
      rgba(255, 69, 87, 0.52) 0%,
      rgba(255, 69, 87, 0.3) 58.5%,
      rgba(26.56, 7.42, 9.27, 0.09) 90.5%,
      rgba(10.63, 3.05, 3.79, 0) 100%
    );
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 74px;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    border: 0px none;
  }
  
  .UP-mainscreen-lite .weapon-icon-medium-2 {
    transform: rotate(180deg);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .UP-mainscreen-lite .rank-icon-2 {
    left: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Iron_2_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .agent-icon-4 {
    left: -44px;
    z-index: 1;
    background-image: url(../../assets/agents/AstraIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
  }
  
  .UP-mainscreen-lite .player-card-2 {
    position: relative;
    flex: 0 0 auto;
    z-index: 0;
  }
  
  .UP-mainscreen-lite .rank-icon-3 {
    left: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Bronze_2_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .agent-icon-5 {
    left: -44px;
    z-index: 1;
    background-image: url(../../assets/agents/ViperIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
  }
  
  .UP-mainscreen-lite .rank-icon-4 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    left: -48px;
    z-index: 1;
  }
  
  .UP-mainscreen-lite .agent-icon-6 {
    left: -44px;
    z-index: 0;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
  }
  
  .UP-mainscreen-lite .rank-icon-5 {
    left: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../assets/Bronze_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .UP-mainscreen-lite .agent-icon-7 {
    left: -44px;
    z-index: 1;
    background-image: url(../../assets/agents/YoruIcon.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
  }
  
  .UP-mainscreen-lite .map-identifier {
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 4px;
    gap: 4px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
  }
  
  .UP-mainscreen-lite .map-pill {
    display: flex;
    width: 180px;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px 2px;
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, rgba(15, 25, 35, 0.85) 0%, rgba(31.14, 37.75, 40.58, 0.85) 100%);
  }

  .UP-mainscreen-lite .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .UP-mainscreen-lite .ad-display {
    position: absolute;
    width: 240px;
    height: 88px;
    top: 0;
    left: 1680px;
    background: rgba(0, 0, 0, 0.6)
  }
  
  .UP-mainscreen-lite .UP-onlylogo {
    position: absolute;
    width: 156px;
    height: 71px;
    top: 11px;
    left: 42px;
    object-fit: cover;
  }
  
  .UP-mainscreen-lite .event-name {
    display: inline-flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px 2px;
    position: absolute;
    top: 0;
    left: 1363px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(15, 25, 35, 0.85) 0%, rgba(31.14, 37.75, 40.58, 0.85) 100%);
  }
  
  :root {
    --h1-font-family: "Montserrat", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 96px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h1-bold-font-family: "Montserrat", Helvetica;
    --h1-bold-font-weight: 900;
    --h1-bold-font-size: 96px;
    --h1-bold-letter-spacing: 0px;
    --h1-bold-line-height: normal;
    --h1-bold-font-style: normal;
    --h2-font-family: "Montserrat", Helvetica;
    --h2-font-weight: 700;
    --h2-font-size: 36px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h2-bold-font-family: "Montserrat", Helvetica;
    --h2-bold-font-weight: 900;
    --h2-bold-font-size: 36px;
    --h2-bold-letter-spacing: 0px;
    --h2-bold-line-height: normal;
    --h2-bold-font-style: normal;
    --h3-font-family: "Montserrat", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 26px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h3-bold-font-family: "Montserrat", Helvetica;
    --h3-bold-font-weight: 900;
    --h3-bold-font-size: 26px;
    --h3-bold-letter-spacing: 0px;
    --h3-bold-line-height: normal;
    --h3-bold-font-style: normal;
    --h4-font-family: "Montserrat", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 20px;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h4-font-style: normal;
    --h4-bold-font-family: "Montserrat", Helvetica;
    --h4-bold-font-weight: 900;
    --h4-bold-font-size: 20px;
    --h4-bold-letter-spacing: 0px;
    --h4-bold-line-height: normal;
    --h4-bold-font-style: normal;
    --label-1-font-family: "Montserrat", Helvetica;
    --label-1-font-weight: 700;
    --label-1-font-size: 18px;
    --label-1-letter-spacing: 0px;
    --label-1-line-height: normal;
    --label-1-font-style: normal;
    --label-1-bold-font-family: "Montserrat", Helvetica;
    --label-1-bold-font-weight: 900;
    --label-1-bold-font-size: 18px;
    --label-1-bold-letter-spacing: 0px;
    --label-1-bold-line-height: normal;
    --label-1-bold-font-style: normal;
    --label-2-font-family: "Montserrat", Helvetica;
    --label-2-font-weight: 700;
    --label-2-font-size: 12px;
    --label-2-letter-spacing: 0px;
    --label-2-line-height: normal;
    --label-2-font-style: normal;
    --label-2-bold-font-family: "Montserrat", Helvetica;
    --label-2-bold-font-weight: 900;
    --label-2-bold-font-size: 12px;
    --label-2-bold-letter-spacing: 0px;
    --label-2-bold-line-height: normal;
    --label-2-bold-font-style: normal;
    --chat-1-font-family: "Inter", Helvetica;
    --chat-1-font-weight: 500;
    --chat-1-font-size: 16px;
    --chat-1-letter-spacing: 0px;
    --chat-1-line-height: normal;
    --chat-1-font-style: normal;
    --chat-1-bold-font-family: "Inter", Helvetica;
    --chat-1-bold-font-weight: 600;
    --chat-1-bold-font-size: 16px;
    --chat-1-bold-letter-spacing: 0px;
    --chat-1-bold-line-height: normal;
    --chat-1-bold-font-style: normal;
    --chat-2-font-family: "Inter", Helvetica;
    --chat-2-font-weight: 500;
    --chat-2-font-size: 14px;
    --chat-2-letter-spacing: 0px;
    --chat-2-line-height: normal;
    --chat-2-font-style: normal;
    --chat-2-bold-font-family: "Inter", Helvetica;
    --chat-2-bold-font-weight: 600;
    --chat-2-bold-font-size: 14px;
    --chat-2-bold-letter-spacing: 0px;
    --chat-2-bold-line-height: normal;
    --chat-2-bold-font-style: normal;
    --chat-3-font-family: "Inter", Helvetica;
    --chat-3-font-weight: 500;
    --chat-3-font-size: 12px;
    --chat-3-letter-spacing: 0px;
    --chat-3-line-height: normal;
    --chat-3-font-style: normal;
    --chat-3-bold-font-family: "Inter", Helvetica;
    --chat-3-bold-font-weight: 600;
    --chat-3-bold-font-size: 12px;
    --chat-3-bold-letter-spacing: 0px;
    --chat-3-bold-line-height: normal;
    --chat-3-bold-font-style: normal;
    --noto-sans-18pt-font-family: "Noto Sans", Helvetica;
    --noto-sans-18pt-font-weight: 500;
    --noto-sans-18pt-font-size: 18px;
    --noto-sans-18pt-letter-spacing: 0.36px;
    --noto-sans-18pt-line-height: normal;
    --noto-sans-18pt-font-style: normal;
  }
  