@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.UP-mainscreen-lite {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url(https://dnkl.gg/oOCLQ);
    background-size: cover;
    background-position: 50% 50%;
}