<div class="UP-previewscreen">
  <app-inhouse-tracker-topscore/>
  <div class="frame-7">
    <div class="frame-8">
      <div class="frame-9">
        <img class="polygon" src="https://dnkl.gg/UP7NG" />
        <div class="frame-10">
          <div class="frame-11">
            <div class="text-wrapper-6">Penguin.PNG</div>
            <div class="frame-10">
              <div class="text-wrapper-7">
                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsWhite.svg" />
                10,650
              </div>
              <div class="text-wrapper-8">LOADOUT VALUE</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="round-reasons">
        <div class="round">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-reason-wrapper">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/timeout.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="defused" src="../../assets/roundWinReason/defused.png" /></div>
        </div>
        <div class="round-2">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/kills.png" /></div>
        </div>
        <div class="divider">
          <img class="line" src="../../assets/roundWinReason/divider-line.svg" /> <img class="line" src="../../assets/roundWinReason/divider-line.svg" />
        </div>
        <div class="round-3">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-3">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
        <div class="round-4">
          <div class="round-reason"><img class="img-2" src="../../assets/roundWinReason/detonated.png" /></div>
        </div>
      </div> -->
      <div class="frame-9 flip">
        <img class="polygon flip" src="https://dnkl.gg/CArdl" />
        <div class="frame-10 flip">
          <div class="frame-11">
            <div class="text-wrapper-6">100 Bees</div>
            <div class="frame-10">
              <div class="text-wrapper-8">LOADOUT VALUE</div>
              <div class="text-wrapper-7">
                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsWhite.svg" />
                10,650
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-14">
      <div class="frame-15">
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9">username</div>
              <div class="ultimate-tracker">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge"></div>
            <div class="KDA-tracker-wrapper">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-15 flip">
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
        <div class="div-2-right">
          <div class="frame-16">
            <div class="agent-icon"></div>
            <div class="frame-17">
              <div class="text-wrapper-9 flip">username</div>
              <div class="ultimate-tracker flip">
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate-full"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
                <div class="pip-ultimate"></div>
              </div>
            </div>
          </div>
          <div class="frame-18">
            <div class="rank-badge flip"></div>
            <div class="KDA-tracker-wrapper flip">
              <p class="KDA-tracker">
                <span class="span">10</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">15</span>
                <span class="text-wrapper-10"> / </span>
                <span class="span">7</span>
              </p>
            </div>
            <div class="weapon-icon-large-wrapper">
              <div class="weapon-icon-large flip"><img class="operator-killfeed"
                  src="../../assets/weapons/OperatorKillfeed.png" /></div>
            </div>
            <div class="frame-19 flip">
              <p class="element">
                <span class="text-wrapper-12 text-red">-</span>
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="text-wrapper-12 text-red">4,000</span>
              </p>
              <p class="p">
                <img class="valorant-credits-scoreboard" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="text-wrapper-12 text-white">250</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>