<app-stream-layout></app-stream-layout>

<div class="test-controls">
    <div class="horizontal">
        <textarea width="500" height="500" [(ngModel)]="userInputJson"></textarea>
        <div class="button-controls">
            <button (click)="sendEvent()">Send Event</button>
        </div>
    </div>

</div>

<div class="other-buttons">
    <button (click)="startPrediction()">Start Prediction</button>
    <button (click)="endPrediction()">End Prediction</button>
    <button (click)="startPoll()">Start Poll</button>
    <button (click)="endPoll()">End Poll</button>
    <button (click)="sendSubscription()">Send Test Subscription</button>
    <button (click)="spotifyLogin()">Spotify Login</button>
    <button (click)="spotifyLogoff()">Spotify Logoff</button>
</div>