@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.hacky-lower-thing {
  position: relative;
  top: 22px;
}

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 154px;
  z-index: 99;
}

.horiz-center {
  display: flex;
  justify-content: center;
}

.verti-center {
  display: flex;
  justify-content: space-evenly;
}

.tall {
  height: 154px;
  width: 498px;
}

.discord-logo {
  height: 40px;
  margin-right: -15px;
  margin-top: -6px;
  z-index: 1;
}

.prediction-view {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px;
  padding: 0px 20px 20px 20px;

  border-color: #697d77;
  border-style: solid;
  border-radius: 15px;
}

.title {
  text-align: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--light);
  font-size: 30px;
  padding: 5px 0px;
}

.text {
  padding-top: 5px;
}

.sub-message {
  padding-right: 10px;
  color: var(--less-dark);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* H2 - Bold */
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.odds-and-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
}

.odds-believe {
  outline: 2px solid #FFA1C2;
}

.odds-doubt {
  outline: 2px solid #30CDEF;
}

.option-odds {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vote-bar {
  height: 25px;
  border-radius: 5px;
  padding-left: 28px;
  padding-right: 36px;
  display: flex;
}

.white,
.total {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.multiply {
  font-family: 'Montserrat';
  mix-blend-mode: hard-light;
  opacity: 0.8500000238418579;
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.believe-bar {
  padding-left: 15px;
  background-color: var(--light);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
}

.percentage {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.doubt-bar {
  color: white;
  text-align: end;
  padding-right: 15px;
}

.option {
  padding-right: 10px;
  padding-left: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.shadow-font {
  color: #1E1E1E;
}

.timer {
  display: flex;
  justify-content: center;
}

.time-display {
  background-color: #FFD335;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  position: relative;
  bottom: 15px;
}

.option-odds-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.option-text {
  width: 90px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.raffle-odds {
  width: 250px;
  margin: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.total {
  display: inline-block;
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  /* Label 2 - Bold */
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 3px 4px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
  border-radius: 4px 0px 0px 4px;
}

.goal {
  display: inline-block;
  padding: 3px 4px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  font-variant-numeric: lining-nums tabular-nums;
  /* Label 2 - Bold */
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
  border-radius: 0px 4px 4px 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}


.white {
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
}

.believe-text,
.believe-bar {
  background-color: var(--light);
}

.discord-ad {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  margin-top: 18px;
}

.discord-bar {
  display: flex;
  height: 18px;
  justify-content: flex-end;
  align-items: center;
  padding-top: 4px;
  margin-top: 10px;
}

.doubt-text,
.doubt-bar {
  border-radius: 0px 4px 4px 0px;
  background-color: var(--dark);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
}

.closed {
  transform: scale(0.6) translateX(210%);
  transition: all 2.5s cubic-bezier(0.16, 1, 0.3, 1);
}