<app-overlay-box imageName="assets/right.png">
  <div class="hacky-lower-thing">
    <app-overlay-title>
      UNCAPPED SUBATHON
    </app-overlay-title>

    <div class="vote-bar">
      <img class="discord-logo" src="assets/discord.svg">
      <div class="percentage believe-bar" [style.width]="'' + getPercentage() + '%'">
        <div class="multiply">
          SUBSCRIBERS
        </div>
      </div>
      <div class="percentage doubt-bar" [style.width]="'' + (100 - getPercentage()) + '%'">
      </div>
    </div>

    <div class="discord-bar">
      <div class="discord-ad" [style.width]="'100%'">
        <b class="flex">
          <div class="white" style="visibility: hidden;">
            <div class="total flex-column">{{total}}</div>
            <div class="goal flex-column">{{goal}}</div>
          </div>
          <div>
          </div>
          <div class="white">
            <div class="total">{{total}}</div>
            <div class="goal">{{goal}}</div>
          </div>
        </b>
      </div>
    </div>
  </div>
</app-overlay-box>

<div [@slideUp] class="wrapper" *ngIf="displaySub">
  <div style="background-image: url('assets/right.png');" class="horiz-center tall">
    <div class="verti-center">
      <div class="verti-center text">
        <div class="horiz-center">
          <img width=120 height=140 style="padding-left: 10px;" src="assets/HOOJIN_TIME.png" />
        </div>

        <div class="sub-message">
          {{subMessage}}
        </div>
      </div>
    </div>
  </div>
</div>