<app-overlay-box>
  <app-overlay-title>
      BANANA SUIT STREAM
  </app-overlay-title>

  <div class="vote-bar">
    <img class="discord-logo" src="assets/DiscordLogo.png">
    <div class="percentage believe-bar" [style.width]="'' + getPercentage() + '%'">
      <div class="multiply">
        SUBSCRIBERS
      </div>
    </div>
    <div class="percentage doubt-bar" [style.width]="'' + (100 - getPercentage()) + '%'">
    </div>
  </div>

  <div class="discord-bar">
    <div class="discord-ad" [style.width]="'100%'">
      <b class="flex">
        <div class="white" style="visibility: hidden;">
            <div class="total">{{total}}</div>/{{goal}}
        </div>
        <div>
        </div>
        <div class="white">
            <div class="total">{{total}}</div>/{{goal}}
        </div>
      </b>
    </div>
  </div>
</app-overlay-box>
