@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.discord-logo {
  height: 40px;
  margin-right: -15px;
  margin-top: -6px;
  z-index: 1;
}

.prediction-view {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px;
  padding: 0px 20px 20px 20px;

  border-color: #697d77;
  border-style: solid;
  background: linear-gradient(to right, #00000080, #d1faff30);
  border-radius: 15px;
}

.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #f6dd79;
  font-size: 30px;
  padding: 5px 0px;
}

.odds-and-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
}

.odds-believe {
  outline: 2px solid #FFA1C2;
}

.odds-doubt {
  outline: 2px solid #30CDEF;
}

.option-odds {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vote-bar {
  height: 25px;
  border-radius: 5px;
  display: flex;
}

.white, .total {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.multiply {
  font-family: 'Montserrat', sans-serif;
  mix-blend-mode: multiply;
  color: #b7b7b7;
}

.believe-bar {
  padding-left: 15px;
  background-image: linear-gradient(0deg, #f3d950, #ffeb66)
}

.percentage {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.doubt-bar {
  color: white;
  text-align: end;
  padding-right: 15px;
}

.option {
  padding-right: 10px;
  padding-left: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.shadow-font {
  color: #1E1E1E;
}

.timer {
  display: flex;
  justify-content: center;
}

.time-display {
  background-color: #FFD335;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  position: relative;
  bottom: 15px;
}

.option-odds-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.option-text {
  width: 90px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.raffle-odds {
  width: 250px;
  margin: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.total {
  color: #FFD201;
  display: inline-block;
}

.white {
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.believe-text, .believe-bar {
  background-color: #ffea80;
}

.discord-ad {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.discord-bar {
  border-radius: 0 0 5px 5px;
  padding: 8px;
  padding-bottom: 0px;
}

.doubt-text,
.doubt-bar {
  background-color: #677d76;
}

.closed {
  transform: scale(0.6) translateX(210%);
  transition: all 2.5s cubic-bezier(0.16, 1, 0.3, 1);
}
