<div id="viewer">
    <iframe id="stream"
        src="https://player.twitch.tv/?channel=woohoojin&parent=new-overlay.woohooj.in"
        height="450"
        width="800"
        allowfullscreen
        >

    </iframe>

    <!-- <app-chat [mainChatOverlay]="true"
        width="13.9vw"
        height="71.9vh"
        left="0px"
        bottom="21.1vh"
        position="absolute">
    </app-chat> -->

    <div (click)="fullscreen()" class="chat-box">
        <input [(ngModel)]="message"
                (keydown.enter)="sendMessage()"
                type="text"
                class="chat-input"
                placeholder="Type Here">
    </div>
</div>
