.chat-box {
    background-color: #1F1F1F;
    width: 14.3vw;
    height: 6.8vh;
    z-index: 5000;
    position: absolute;
    top: 78.8%;
    left: 0px;

    display: flex;
    justify-content: center;

    pointer-events: auto;
}

.chat-input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #28292A;
    color: #818488;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#viewer {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

app-chat {
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    position: absolute;
    pointer-events: none;
}

#stream {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 0;
}