<div id="viewer">
    <iframe id="stream"
        [src]="streamSource"
        height="450"
        width="800"
        allowfullscreen
        >

    </iframe>

    <div id="controls">
        <button class="control-button"
            (click)="fullscreen()">
            FULLSCREEN
        </button>

        <button class="control-button"
            (click)="switchStream('underpeel')">
            UNDERPEEL
        </button>

        <button class="control-button"
            (click)="switchStream('woohoojin')">
            WOOHOOJIN
        </button>
    </div>

    <!-- <app-chat [mainChatOverlay]="true"
        width="13.9vw"
        height="71.9vh"
        left="0px"
        bottom="21.1vh"
        position="absolute">
    </app-chat> -->

    <div class="chat-box">
        <input [(ngModel)]="message"
                (keydown.enter)="sendMessage()"
                type="text"
                class="chat-input"
                placeholder="Type Here">
    </div>
</div>
