<div>
  <ng-container *ngIf="getBarType().swap">
    <div class="bar">
        <div class="joel-bar"
          [style.backgroundColor]="getBarType().cool.color"
          [style.height.%]="calculateWidth()"
        >

        </div>

        <div class="hose-bar"
          [style.backgroundColor]="getBarType().uncool.color"
          [style.height.%]="calculateRemainder()"
        >
            <img class="team-logo" src="{{getBarType().cool.image}}" [class.invisible]="cool <= 50">
            <img class="team-logo" src="{{getBarType().uncool.image}}" [class.invisible]="cool > 50">
        </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!getBarType().swap">
    <div class="bar">
        <div class="joel-bar blank" [style.height.%]="calculateRemainder()">
        </div>

        <div class="hose-bar" [style.height.%]="calculateWidth()">
            <img class="sheesh" src="{{getBarType().cool.image}}">
        </div>
    </div>
  </ng-container>
</div>