.bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  width: 8px;
  height: 776px;
  background-color: var(--slate);
}

.sheesh {
  margin-top: -10px;
  margin-left: -18px;
  width: 35px;
  transform: rotate(-20deg);
}

.fill-bar {
  height: 50%;
}

.cool-bar {
  background-color: var(--accent);
  transition: height 0.2s ease-in-out;
}

.uncool-bar {
  background-color: var(--slate);
}
