@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

.overlay-title {
  text-align: center;
  color: var(--less-dark);
  text-align: center;
  /* H2 - Bold */
  font-family: 'Montserrat';
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 4px;
}