@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
.overlay-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #f6dd79;
}
