<div class="chat-container" [ngStyle]="{top, bottom, left, right, width, height, borderRadius, backgroundColor}">
    <div class="render-reverse-column" [style.margin]="messagesMargin">
        <ng-container *ngFor="let message of messages">
            <div class="message" [class.highlighted-message]="message.highlight === true">
                <div *ngIf="message.renderHeader === true" class="message-header" [style.color]="message.authorColor">
                    <span class="display-name">{{message.displayName}}</span>

                    <div class="vertical-center">
                        <img *ngFor="let badgeUrl of message.badges; let i = index" class="rank-image"
                            [class.badge-padding]="i === 0" src="{{badgeUrl}}" />
                    </div>
                </div>

                <div class="message-content">
                    <div class="message-chunk" *ngFor="let chunk of message.chatMessage.chunks; let i = index"
                        [class.pad-left]="i !== 0">
                        <ng-container *ngIf="chunk.type === ChatChunkType.IMG">
                            <img [class.small]="message.chatMessage.textChunkCount > 0 || message.chatMessage.imgChunkCount > 3"
                                class="message-emoji" src="{{chunk.content}}" />
                        </ng-container>
                        <ng-container *ngIf="chunk.type === ChatChunkType.TEXT">
                            <div class="message-text">{{chunk.content}}</div>
                        </ng-container>
                        <ng-container *ngIf="chunk.type === ChatChunkType.MENTION">
                            <div class="message-text message-mention">{{chunk.content}}</div>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="message.stickerURL != ''">
                        <img class="sticker" src="{{message.stickerURL}}" />
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>