.flip {
    transform: rotateY(180deg);
}

.frame-2 {
    position: absolute;
    width: 1802px;
    height: 434px;
    top: 623px;
    left: 59px;
}

.playercards {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

.playercards-leftteam {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.fill-green {
    fill: #61eab6;
}

.fill-red {
    fill: #FF4557;
}
