@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

app-overlay-box {
  position: relative;
  top: -5px;
}

.prediction-view {
  display: flex;
  flex-direction: column;
  width: 542px;
}

.gradient {
  border-style: solid;
}

.title {
  text-align: center;
}

.odds-and-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36px;
  margin-left: 53px;
  margin-right: 53px;
}

.odds-believe, .believe-text {
  border-radius: 2px;
  border: 2px solid var(--light);
}

.odds-doubt, .doubt-text {
  border-radius: 2px;
  border: 2px solid var(--dark);
}

.option-odds {
  margin-left: 10px;
  width: 130px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
  margin-right: 10px;
  height: 24px;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
}

.vote-bar {
  margin-left: 53px;
  margin-right: 53px;
  height: 24px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
}

.believe-bar {
  padding-left: 15px;
}

.percentage {
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.doubt-bar {
  text-align: end;
  padding-right: 15px;
}

.option {
  padding-right: 10px;
  padding-left: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.shadow-font {
  color: #1E1E1E;
}

.timer {
  display: flex;
  justify-content: flex-end;
}

.time-display {
  background-color: var(--cerise);
  color: var(--light);
  display: inline-flex;
  gap: 10px;
  padding: 0px 2px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  /* Label 1 */
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  right: 5px;
  top: 5px;
}

.yellow-text {
  color: var(--dark);
}

.believe-percentage, .doubt-percentage {
  text-transform: uppercase;
}

.believe-percentage, .doubt-percentage, .yellow-text {
  font-variant-numeric: lining-nums tabular-nums;
  /* Label 1 */
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.option-odds-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.option-text {
  width: 52px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
  height: 24px;
  text-align: center;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  flex-direction: column;
}

.raffle-odds {
  border-radius: 2px;
  display: flex;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.believe-text, .believe-bar {
  background-color: var(--light);
}

.discord-ad {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.discord-bar {
  background-color: #FFD335;
  border-radius: 0 0 5px 5px;
  padding: 8px;
}

.doubt-percentage {
  color: var(--light);
}

.believe-percentage {
  color: var(--dark);
}

.doubt-text,
.doubt-bar {
  background-color: var(--dark);
}
