@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.rank-and-name-display {
    width: 100vw;
    display: flex;
    filter: drop-shadow(3px 3px 8px black);
}

.usernames {
    display: flex;
    flex-direction: column;
}

.big-name {
    font-family: 'Montserrat', sans-serif;
    color: #ffe400;
    font-size: 120px;
}

.full-name {
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
    color: #3697a7;
    font-size: 50px;
    text-align: center;
}
