.animation-display {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.vertical {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animation {
    width: 800px;
    height: 800px;
}