img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 100%;
    left: var(--left-position-start);
    animation-name: jump;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes jump {
    50% {
        top: var(--jump-height);
        animation-timing-function: ease-in;
        // opacity: 0;
    }
}