<div class="outer-container">
    <app-chess></app-chess>
    <app-dynamic-overlay></app-dynamic-overlay>
    <!--<app-banana></app-banana>-->
    <app-ads></app-ads>
    <app-chat width="274px" height="778px" left="0px" bottom="228px" position="absolute"></app-chat>
    <app-cool></app-cool>
    <app-prediction-render></app-prediction-render>
    <app-vod-review style="background-image: url('assets/TextBox_Container.png');"></app-vod-review>
    <app-sub-goal></app-sub-goal>
    <img id="footer" src="{{themeService.getMiddleImage()}}" />
    <img id="left" src="{{themeService.getLeftImage()}}" />
</div>