<div *ngIf="enabled" class="outer-container">
    <app-chess></app-chess>
    <app-dynamic-overlay></app-dynamic-overlay>
    <!--<app-banana></app-banana>-->
    <app-ads></app-ads>
    <app-chat [mainChatOverlay]="true" width="274px" height="778px" left="0px" bottom="228px" position="absolute"></app-chat>
    <app-team-logo></app-team-logo>
    <app-ai-chat-interactor></app-ai-chat-interactor>
    <app-animation-host></app-animation-host>
    <app-cool></app-cool>
    <app-talking-chatter-manager></app-talking-chatter-manager>
    <app-gameboy-advance></app-gameboy-advance>
    <app-prediction-render></app-prediction-render>
    <app-poll-render></app-poll-render>
    <app-vod-review style="background-image: url('assets/TextBox_Container.png');"></app-vod-review>
    <app-sub-goal></app-sub-goal>
    <app-spotify></app-spotify>
    <ng-container *ngIf="themeService.getMiddleImage().split('.')[1] === 'mp4'">
        <video id="footer" loop autoplay>
            <source src="{{themeService.getMiddleImage()}}" type="video/mp4">
        </video>
    </ng-container>
    <ng-container *ngIf="themeService.getMiddleImage().split('.')[1] !== 'mp4'">
        <img id="footer" src="{{themeService.getMiddleImage()}}" />
    </ng-container>
    <img id="left" src="{{themeService.getLeftImage()}}" />
    <app-emote-popups-multiple id="bottomEdgeEmotePopupContainer" name="bottomEdgeMultiple" direction="up"></app-emote-popups-multiple>
    <app-emote-popups-special id="specialEmotePopupContainer" name="special" direction="up"></app-emote-popups-special>
</div>

<div class="disabled" *ngIf="!enabled">
    OVERLAY DISABLED<br/>
    NAME: {{getName()}}
</div>