div.outer-container {
    height: 1080px;
    width: 1920px;
}

.disabled {
    font-size: 50px;
    color: #ffe400;
    text-align: center;
}

app-ai-chat-interactor, app-talking-chatter-manager {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 5001;
}

app-animation-host {
    position: absolute;
    top: 0px;
    // Centered on capture card, not the screen
    left: 273px;
    width: 1647px;
    height: 927px;
    z-index: 5000;
}

app-banana {
    position: absolute;
    bottom: 0px;
    right: 550px;
    z-index: 5000;
}

app-team-logo {
    position: absolute;
    top: 81px;
    left: 870px;
    width: 456px;
    z-index: 100;
}

app-gameboy-advance {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1003;
}

app-ads {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

app-chess {
    position: absolute;
    top: 0px;
    width: 1920px;
    height: 1080px;
    left: 0px;
    z-index: 1000;
}

app-cool {
    position: absolute;
    bottom: 228px;
    left: 266px;
}

app-poll-render {
    // center on middle of screen no matter what, regardless of size
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1002;

    // centered on the middle of the screen, but biased 154px up
    position: absolute;
    top: calc(50% - 77px);
    left: calc(50% + 137px);
    transform: translate(-50%, -50%);
    z-index: 1002;
}

app-prediction-render {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 542px;
    height: 154px;
    z-index: 1002;
}

app-vod-review {
    width: 274px;
    height: 74px;
    display: block;
    position: absolute;
    bottom: 154px;
    left: 0px;
}

app-sub-goal {
    width: 498px;
    height: 154px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1002;
}

app-spotify {
    width: 274px;
    height: 74px;
    display: block;
    position: absolute;
    bottom: 154px;
    left: 0px;
}

img#footer {
    position: absolute;
    bottom: 0px;
    right: 498px;
}

video#footer {
    position: absolute;
    bottom: 0px;
}

#left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1001;
}

#specialEmotePopupContainer {
    position: absolute;
    width: 1566px;
    height: 926px;
    left: 274px;
    top: 0px;
}

#bottomEdgeEmotePopupContainer {
    position: absolute;
    width: 1566px;  //beware overflow due to emote size
    height: 30%;
    left: 274px;
    bottom: 154px;
}

#leftEdgeEmotePopupContainer {
    position: absolute;
    width: 30%;
    height: 852px;
    bottom: 234px;  //beware overflow due to emote size
    left: 274px;
}

#topEdgeEmotePopupContainer {
    position: absolute;
    width: 1566px;  //beware overflow due to emote size
    height: 30%;
    top: 0px;
    left: 274px;
}

#rightEdgeEmotePopupContainer {
    position: absolute;
    width: 30%;
    height: 852px;
    bottom: 234px;  //beware overflow due to emote size
    right: 0px;
}