div.outer-container {
    height: 1080px;
    width: 1920px;
}

app-ads {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

app-chat {
    position:absolute;
    bottom: 228px;
    left: 0px;
    width: 274px;
    height: 778px;
}

app-cool {
    position: absolute;
    bottom: 228px;
    left: 266px;
}

app-prediction-render {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 542px;
    height: 154px;
    z-index: 50;
}

app-vod-review {
    width: 274px;
    height: 74px;
    display: block;
    position: absolute;
    bottom: 154px;
    left: 0px;
}

app-sub-goal {
    width: 498px;
    height: 154px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

img#footer {
    position: absolute;
    bottom: 0px;
    right: 498px;
}

img#left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}