<div class="topscore">
    <div class="topscore-container">
        <div class="scoreboard">
            <div class="teamcard">
                <div class="teaminfo-container">
                    <img class="team-image" src="https://dnkl.gg/UP7NG" />
                    <div class="teamcode">{{match.teams[0].teamName}}</div>
                </div>
                <div class="divider" [class]="match.teams[0].isAttacking ? 'red' : 'green'"></div>
                <div class="scoreblock-left" [class]="match.teams[0].isAttacking ? 'red' : 'green'">
                    <div class="score-text">{{match.teams[0].roundsWon}}</div>
                </div>
            </div>
            <div class="teamcard">
                <div class="scoreblock-right" [class]="match.teams[1].isAttacking ? 'red' : 'green'">
                    <div class="score-text">{{match.teams[1].roundsWon}}</div>
                </div>
                <div class="divider" [class]="match.teams[1].isAttacking ? 'red' : 'green'"></div>
                <div class="teaminfo-container">
                    <div class="teamcode">{{match.teams[1].teamName}}</div>
                    <img class="team-image" src="https://dnkl.gg/CArdl" />
                </div>
            </div>
        </div>
        <app-inhouse-tracker-mapwins *ngIf="false" />
        <!-- <div class="spike-indicator" *ngIf="match.roundPhase === 'combat' && !match.spikePlanted">
            <img class="spike-icon" src="../../assets/shop/Spike-top.svg" />
        </div> -->
    </div>
    <div class="round-number">ROUND {{match.roundNumber}}</div>
</div>

<app-inhouse-tracker-topinfo *ngIf="false" />