<div *ngIf="display && allText" class="container" @slideInOut>
    <div class="marquee-1 {{directionClass}} {{locationClass}}">
        <span [style.color]="[idx, location, colors] | convertWithFunction:getColor" class="scrolling-text"
            *ngFor="let text of (allText | convertWithFunction:repeat); let idx = index;">
            {{text}}
        </span>
    </div>
    <div class="marquee-2 {{directionClass}} {{locationClass}}">
        <span [style.color]="[idx, location, colors] | convertWithFunction:getColor" class="scrolling-text"
            *ngFor="let text of (allText | convertWithFunction:repeat); let idx = index;">
            {{text}}
        </span>
    </div>
</div>