<div class="frame-2">
    <div class="playercards">
        <div class="player-container flip">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2 fill-red" src="../../assets/shop/Shield50red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits fill-red" src="../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container flip">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2 fill-red" src="../../assets/shop/Shield50red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits fill-red" src="../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container flip">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2 fill-red" src="../../assets/shop/Shield50red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits fill-red" src="../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container flip">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2 fill-red" src="../../assets/shop/Shield50red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits fill-red" src="../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container flip">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2 fill-red" src="../../assets/shop/Shield50red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits fill-red" src="../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="playercards-leftteam">
        <div class="player-container">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info player-info-background-alive">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../assets/shop/Shield50green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info player-info-background-alive">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../assets/shop/Shield50green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info player-info-background-alive">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../assets/shop/Shield50green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info player-info-background-alive">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../assets/shop/Shield50green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-container">
            <div class="rank-icon"></div>
            <div class="agent-icon-3"></div>
            <div class="player-card">
                <div class="player-info player-info-background-alive">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../assets/shop/Shield50green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">2,600</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">Voxx</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/OperatorKillfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker">
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate-full"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                            <div class="pip-ultimate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>