.flip {
    transform: rotateY(180deg);
}

.frame-2 {
    position: absolute;
    width: 1802px;
    height: 434px;
    top: 623px;
    left: 59px;
}

.playercards {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

.player-container {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.player-container-right {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    transform: rotateY(180deg);
}

.agent-icon {
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    aspect-ratio: 1;
    height: 100%;
    top: 0;
}

.agent-icon-dead {
    @extend .agent-icon;
    filter: grayscale(1);
}

.player-card {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    z-index: 0;
}

.player-card-right {
    display: inline-flex;
    align-items: flex-end;
    position: relative;
    flex: 0 0 auto;
    z-index: 0;
}

.weapon-icon-medium {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.weapon-icon-medium-right {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    transform: rotateY(180deg);
}

.phantom-killfeed {
    position: relative;
    height: 32px;
    object-fit: cover;
    transform: rotateY(180deg);
}

.utility-container {
    display: inline-flex;
    height: 21.33px;
    width: 50%;
    align-items: center;
    gap: 20px;
    position: relative;
    justify-content: center;
}

.spike-icon-small {
    position: relative;
    width: 59.9px;
    height: 57.53px;
    margin-top: -18.1px;
    margin-bottom: -18.1px;
    margin-left: -18.1px;
}

.ultimate-tracker {
    display: inline-flex;
    align-items: center;
    gap: 1px;
    position: relative;
    flex: 0 0 auto;
}

.pip-ultimate {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: -2px;
    background-image: url(../../../assets/shop/ultimate-pip.svg);
    background-size: 100% 100%;
}

.pip-ultimate-full {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: -2px;
    background-image: url(../../../assets/shop/ultimate-pip-full.svg);
    background-size: 100% 100%;
}

.ultimate-full-image {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}

.playercards-leftteam {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.rank-icon {
    left: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../../assets/Gold_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
}

.rank-icon-right {
    right: -48px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 44px;
    z-index: 2;
    background-image: url(../../../assets/Gold_3_Rank.png);
    background-size: cover;
    background-position: 50% 50%;
}

.agent-icon-container {
    left: -44px;
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
}

.player-info {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 74px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 0px 2px 32px;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #61eab6;
    overflow: hidden;
}

.player-info-right {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 74px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    padding: 0px 0px 2px 32px;
    position: relative;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #FF4557;
    overflow: hidden;
}

.player-info-background-alive {
    position:absolute;
    background: linear-gradient(90deg, rgba(31, 122, 88, 0.70) 0%, rgba(31, 122, 88, 0.00) 100%), rgba(15, 25, 35, 0.60);
}

.player-info-background-alive-right {
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 69, 87, 0.30) 0%, rgba(31, 122, 88, 0.00) 100%), rgba(15, 25, 35, 0.60);
}

.player-info-background-dead {
    position: absolute;
    background: rgba(15, 25, 35, 0.60);
}

.spectator-container {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    top: -4px;
    left: 5px;
}

.shields-currency {
    display: inline-flex;
    height: 20px;
    align-items: center;
    gap: 6px;
    position: relative;
}

.img-2 {
    height: 22px;
    width: 22px;
    position: relative;
    flex: 0 0 auto;
}

.currency-container {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.valorant-credits {
    position: relative;
    width: 8px;
    height: 8px;
}

.currency-title {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.8;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #61eab6;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.currency-title-right {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.8;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #ff838f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.fill-green {
    fill: #61eab6;
}

.fill-red {
    fill: #FF4557;
}

.username-container {
    display: inline-flex;
    height: 15px;
    align-items: center;
    gap: 4px;
    position: relative;
}

.username-title {
    position: relative;
    width: fit-content;
    font-family: "Montserrat", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.weapon-icon-medium-wrapper {
    align-items: flex-start;
    padding: 0px 0px 4px 18px;
    background: linear-gradient(90deg,
            rgba(97, 234, 182, 0.52) 0%,
            rgba(56.26, 135.72, 105.56, 0.3) 58.5%,
            rgba(17.62, 42.51, 33.07, 0.09) 90.5%,
            rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 74px;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    border: 0px none;
}

.weapon-icon-medium-wrapper-right {
    align-items: flex-start;
    padding: 0px 0px 4px 18px;
    background: linear-gradient(90deg,
            rgba(255, 69, 87, 0.52) 0%,
            rgba(255, 69, 87, 0.3) 58.5%,
            rgba(26.56, 7.42, 9.27, 0.09) 90.5%,
            rgba(10.63, 3.05, 3.79, 0) 100%);
    display: flex;
    flex-direction: column;
    width: 186px;
    height: 74px;
    justify-content: flex-end;
    gap: 4px;
    position: relative;
    border: 0px none;
}