<div class="frame-2">
    <div class="playercards-leftteam">
        <div class="player-container" *ngFor="let player of match.teams[0].players">
            <!-- <div class="rank-icon"></div> -->
            <div class="agent-icon-container">
                <img class="agent-icon" src="../../../assets/agents/{{player.agentProper}}Icon.png" *ngIf="player.isAlive"/>
                <img class="agent-icon-dead" src="../../../assets/agents/{{player.agentProper}}Icon.png" *ngIf="!player.isAlive"/>
            </div>
            <div class="player-card">
                
                <div class="player-info player-info-background-alive" *ngIf="player.isAlive"></div>
                <div class="player-info player-info-background-dead" *ngIf="!player.isAlive"></div>
                <div class="player-info">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../../assets/shop/Shield{{player.initialShield}}Green.svg" />
                            <div class="currency-container">
                                <img class="valorant-credits" src="../../../assets/shop/ValorantCreditsGreen.svg" />
                                <div class="currency-title">{{player.money}}</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title">{{player.name}}</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper" *ngIf="player.isAlive">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/{{player.highestWeapon}}Killfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker" *ngIf="!player.ultReady">
                            <div class="pip-ultimate-full" *ngFor="let i of numSequence(player.currUltPoints)"></div>
                            <div class="pip-ultimate" *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)"></div>
                        </div>
                        <div class="ultimate-tracker" *ngIf="player.ultReady">
                            <img class="ultimate-full-image" src="../../../assets/ultimates/{{player.agentProper}}Ultimate.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="playercards">
        <div class="player-container flip" *ngFor="let player of match.teams[1].players">
            <!-- <div class="rank-icon"></div> -->
            <div class="agent-icon-container">
                <img class="agent-icon" src="../../../assets/agents/{{player.agentProper}}Icon.png" *ngIf="player.isAlive"/>
                <img class="agent-icon-dead" src="../../../assets/agents/{{player.agentProper}}Icon.png" *ngIf="!player.isAlive"/>
            </div>
            <div class="player-card">
                <div class="player-info-right player-info-background-alive-right" *ngIf="player.isAlive"></div>
                <div class="player-info-right player-info-background-dead" *ngIf="!player.isAlive"></div>
                <div class="player-info-right">
                    <!-- <img class="spectator-container" src="img/spectator-container.svg" /> -->
                    <div class="info-container">
                        <div class="shields-currency">
                            <img class="img-2" src="../../../assets/shop/Shield{{player.initialShield}}Red.svg" />
                            <div class="currency-container flip">
                                <img class="valorant-credits" src="../../../assets/shop/ValorantCreditsRed.svg" />
                                <div class="currency-title-right">{{player.money}}</div>
                            </div>
                        </div>
                        <div class="username-container">
                            <div class="username-title flip">{{player.name}}</div>
                            <!-- <img class="img-2" src="img/badge-captain.svg" /> -->
                        </div>
                    </div>
                </div>
                <div class="weapon-icon-medium-wrapper-right" *ngIf="player.isAlive">
                    <div class="weapon-icon-medium"><img class="phantom-killfeed"
                            src="../../assets/weapons/{{player.highestWeapon}}Killfeed.png" />
                    </div>
                    <div class="utility-container">
                        <!-- <img class="spike-icon-small" src="img/spike-icon-small.svg" /> -->
                        <div class="ultimate-tracker flip" *ngIf="!player.ultReady">
                            <div class="pip-ultimate-full" *ngFor="let i of numSequence(player.currUltPoints)"></div>
                            <div class="pip-ultimate" *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)"></div>
                        </div>
                        <div class="ultimate-tracker" *ngIf="player.ultReady">
                            <img class="ultimate-full-image" src="../../../assets/ultimates/{{player.agentProper}}Ultimate.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>