<div class="underpeel-draft">
    <div class="upDraftCurrentTeamContainer">
        <div class="upDraftCurrentTeamImageContainer">
            <img class="upDraftCurrentTeamImage" src="https://dnkl.gg/I84aM">
        </div>
        <div class="upDraftCurrentTeamNameContainer">
            <span class="upDraftCurrentTeamName">100 BEES</span>
        </div>
    </div>
    <div class="upDraftTickerContainer">
        <div class="upDraftTickerText">
            {{tickerData}}
        </div>
    </div>
</div>