@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.underpeel-draft {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 154px;
  width: 540px;
  border: solid #FFD359 5px;
}

.upDraftCurrentTeamContainer {
  position: absolute;
  height: 80%;
  width: 100%;
  border-bottom: 0;
  background-color: black;
}

.upDraftCurrentTeamImageContainer {
  position: absolute;
  height: 100%;
  width: 25%;
  display: inline-flex;
  justify-content: center;
  background: linear-gradient(180deg, black 0%, black 60%, #FFD359 95%, #FFD359);
}

.upDraftCurrentTeamImage {
  max-width: 80%;
  object-fit: contain;
  margin: auto;
}

.upDraftCurrentTeamNameContainer {
  position: absolute;
  height: 100%;
  width: 75%;
  left: 25%;
}

.upDraftCurrentTeamName {
  font-size: 75px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #8DBEEC;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  top: 0;
  left: 10%;
}

.upDraftCurrentPickingText {
  font-size: 20px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #8DBEEC;
  font-family: "Unbounded", sans-serif;
  position: absolute;
  top: 65%;
  left: 10%;
}

.upDraftTickerContainer {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background-color: #FFD359;
  display: inline-flex;
  text-wrap: nowrap;
  justify-content: center;
}

.upDraftTickerText {
  height: 100%;
  font-size: 20px;
  font-weight: 550;
  color: black;
  margin: 5px;
  font-family: "Unbounded", sans-serif;
  overflow: hidden;
  direction: rtl;
}