<div class="full-board">
    <div class="header">
        <div *ngIf="win === undefined && acceptingChallenges">
            CHALLENGES OPEN
        </div>
        <div *ngIf="win === undefined && !acceptingChallenges">
            <span class="name playerOne" [class.playerOneTurn]="turn === 'red'">{{playerOne.name}}</span>
            <span class="name spacer">//</span>
            <span class="name playerTwo" [class.playerTwoTurn]="turn ==='yellow'">{{playerTwo.name}}</span>
        </div>
        <div *ngIf="win !== undefined">
            <span *ngIf="win === 'red'">{{playerOne.name}} wins!</span>
            <span *ngIf="win === 'yellow'">{{playerTwo.name}} wins!</span>
        </div>
    </div>
    <div class="content">
        <div class="board-display">
            <div id="board-bg"></div>
            <div *ngFor="let _ of [].constructor(6); let row=index">
                <div *ngFor="let _ of [].constructor(7); let col=index">
                    <span class="space-markers"
                        [style.top]="row | convertWithFunction:getTop"
                        [style.left]="col | convertWithFunction:getLeft"
                    ></span>
                </div>
            </div>
            <span *ngFor="let piece of pieces"
                class="piece"
                [style.top]="piece.row | convertWithFunction:getTop"
                [style.left]="piece.column | convertWithFunction:getLeft"
                [style.transform]="piece.falling | convertWithFunction:getTransform"
                [style.backgroundColor]="piece.color"
            ></span>
        </div>
    </div>
</div>