.overlay-box {
  border-radius: 10px;

  padding: 10px;
  border-color: #697d77;
  border-style: solid;
  border-radius: 15px;
  background: linear-gradient(172.88deg, rgba(75, 86, 78, 0.8) -16.85%, rgba(70, 85, 82, 0.3) 37.16%, rgba(70, 85, 82, 0) 88.7%);
  height: 125px;

  filter: drop-shadow(3px 3px 8px black);
}
