<ng-container *ngIf="enabled || testing">
    <ng-container *ngIf="isTalking">
        <img class="ai" [src]="talkingImg" />
    </ng-container>

    <ng-container *ngIf="!isTalking">
        <img class="ai" [src]="waitingImg" />
    </ng-container>

    <ng-container *ngIf="currentMessage != null">
        <app-chat-message [@fadeIn] class="ai-message" [message]="currentMessage"></app-chat-message>
    </ng-container>
</ng-container>

<ng-container *ngIf="currentTTSMessage != null">
    <div [@fadeIn] class="tts-message">
        <div class="tts-invoker">{{currentTTSInvoker}} says:</div>
        {{currentTTSMessage}}
        <div *ngIf="currentTTSVoice != ''" class="tts-voice">Voice used: {{currentTTSVoice}}</div>
    </div>
</ng-container>