.ai {
    position: absolute;
    bottom: 0px;
    left: 554px;

    height: 154px;
}

.ai-message {
    position: absolute;
    bottom: 30px;
    left: 730px;
    background-color: #1f1f1f;
    padding-bottom: 15px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    width: 300px;
    color: var(--chat-msg);
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}