@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.dynamic-overlay-container {
    width: 100%;
    height: 100%;
    z-index: 1003;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

.main-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

dynamic-overlay-background-video {
    position: absolute;
    top: 0;
    left: 0;
}