@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    background-color: black;
}

.outer-box {
    // semi transparent dark grey background
    background-color: rgba(30, 30, 30, 0.95);
    min-width: 755px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 20px;
    text-transform: uppercase;
    background-color: var(--accent);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
}

.option-description {
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
}

.option-number, .option-text {
    font-size: 30px;
}

.option-progress {
    margin-top: 5px;
    display: flex;
    height: 24px;
}

.progress-bar {
    width: 500px;
    margin-left: -1px;
    display: flex;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #000000;
}

.progress-fill {
    background-color: var(--accent);
    transition: width 1s ease-in-out;
}

.option-bars {
    margin-top: 26px;
    margin-bottom: 26px;
}

.option-bars:nth-child(2) .option-progress .progress-fill,
.option-bars:nth-child(2) .option-progress .progress-percent {
    background-color: var(--blue-dodger);
}

.option-bars:nth-child(3) .option-progress .progress-fill,
.option-bars:nth-child(3) .option-progress .progress-percent {
    background-color: #b0b0b0;
}

.option-bars:nth-child(4) .option-progress .progress-fill,
.option-bars:nth-child(4) .option-progress .progress-percent {
    background-color: #F3F3F3;
}

.progress-percent {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--accent);
    color: #000000;
    padding: 10px 0px;
    padding-left: 15px;
    z-index: 2;
    width: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // 4px border on bottom left and top left
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.option-text {
    font-family: 'Montserrat', sans-serif;
    color: #f6dd79;
    border-color: #697d77;
    margin-left: -5px;
    z-index: 1;
    border-style: solid;
    padding: 0px 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 15px;
}

.option-number {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #F3F3F3;
    z-index: 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 15px;
}

.timer {
  display: flex;
  justify-content: center;
}

.time-display {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFD335;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  position: relative;
  bottom: 20px;
}

.voter {
  display: flex;
  justify-content: center;
  border-top: 1px solid #D3D3D3;
}

.vote-display {
  font-family: 'Montserrat', sans-serif;
  color: #F3F3F3;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  margin: 5px;
}