/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&family=Roboto+Mono:wght@600&family=Roboto:wght@500&display=swap');
 * {
  font-family: 'Inter', sans-serif;
  color: #1E1E1E;
 }

 html {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
 }
