<div class="scoreboard-container">
    <div class="scoreboard-header-container">
        <div class="team-container">
            <img class="team-icon" src="https://dnkl.gg/UP7NG" />
                <div class="teaminfo-wrapper-left">
                    <div class="teamname-text">{{match.teams[0].teamName}}</div>
                    <div class="money-spent-container">
                        <div class="money-spent-wrapper">
                            <img class="credits-icon" src="../../assets/shop/ValorantCreditsWhite.svg" />
                            {{match.teams[0].spentThisRound}}
                        </div>
                        <div class="money-spent-label-text">SPENT THIS ROUND</div>
                    </div>
                </div>
        </div>
        <app-inhouse-tracker-roundreasons *ngIf="false" />
        <div class="team-container flip">
            <img class="team-icon flip" src="https://dnkl.gg/CArdl" />
                <div class="teaminfo-wrapper-right flip">
                    <div class="teamname-text">{{match.teams[1].teamName}}</div>
                    <div class="money-spent-container">
                        <div class="money-spent-label-text">SPENT THIS ROUND</div>
                        <div class="money-spent-wrapper">
                            <img class="credits-icon" src="../../assets/shop/ValorantCreditsWhite.svg" />
                            {{match.teams[1].spentThisRound}}
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="scoreboard-content-container">
        <div class="playerscore-wrapper">
            <app-inhouse-tracker-playerscore 
                *ngFor="let player of match.teams[0].players" 
                [player]="player" 
                [color]="match.teams[0].isAttacking ? 'red' : 'green'"
                side="left"
            />
        </div>
        <div class="playerscore-wrapper flip">
            <app-inhouse-tracker-playerscore 
                *ngFor="let player of match.teams[1].players"
                [player]="player" 
                [color]="match.teams[1].isAttacking ? 'red' : 'green'"
                side="right"
            />
        </div>
    </div>
</div>