.flip {
  transform: rotateY(180deg);
}

.team-icon {
  position: relative;
  width: 38.34px;
  height: 38.34px;
}

.scoreboard-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 546px;
  left: 19px;
}

.scoreboard-header-container {
  display: flex;
  height: 64px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.team-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(90deg,
      rgba(15, 25, 35, 0.65) 0%,
      rgba(15, 25, 35, 0.53) 53%,
      rgba(15, 25, 35, 0) 75%,
      rgba(15, 25, 35, 0) 100%);
}

.money-spent-container {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.teaminfo-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
  &-left {
    @extend .teaminfo-wrapper;
    align-items: flex-start;
  }
  &-right {
    @extend .teaminfo-wrapper;
    align-items: flex-end;
  }
}

.teamname-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Unbounded", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: normal;
  white-space: nowrap;
  text-transform: uppercase;
}

.money-spent-wrapper {
  margin-top: -1px;
  font-family: "Unbounded", Helvetica;
  color: #ffffffe6;
  font-size: 12px;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
  font-weight: 700;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
}

.credits-icon {
  position: relative;
  width: 12px;
  height: 12px;
}

.money-spent-label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Unbounded", Helvetica;
  font-weight: 700;
  color: #ffffff99;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.24px;
  line-height: normal;
  white-space: nowrap;
}

.scoreboard-content-container {
  display: flex;
  width: 1882px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.playerscore-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 415px;
  align-items: flex-start;
  gap: 10px;
  padding: 13px 16px;
  background-color: #0f1923cc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
