@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.timer {
    font-family: 'Roboto Mono', monospace;
    filter: drop-shadow(3px 3px 8px black);
    font-size: 100px;
    color: #ffe400;
}