<div class="playerscore-component" [class]="color">
    <div class="playerinfo-container">
        <img class="agent-icon" src="../../../../assets/agents/{{player.agentProper}}Icon.png" />
        <div class="rank-icon-container" *ngIf="true">
            <img class="rank-icon" [class]="side" src="../../../../assets/Radiant_Rank.png" />
        </div>
        <div class="playername-container" [class]="side">
            <div class="playername-text">{{player.name}}</div>
            <div class="ultimate-tracker" *ngIf="!player.ultReady">
                <div class="pip-ultimate-full" *ngFor="let i of numSequence(player.currUltPoints)"></div>
                <div class="pip-ultimate" *ngFor="let i of numSequence(player.maxUltPoints - player.currUltPoints)">
                </div>
            </div>
            <div class="ultimate-tracker" *ngIf="player.ultReady">
                <img class="ultimate-full-image" src="../../../assets/ultimates/{{player.agentProper}}Ultimate.png">
            </div>
        </div>
    </div>
    <div class="resources-container">
        <div class="shield-icon-container">
            <img class="shield-icon" [class]="side" src="../../../../assets/shop/Shield{{player.initialShield}}.png" />
        </div>
        <div class="KDA-tracker-wrapper">
            <p class="KDA-tracker" [class]="side">
                <span class="KDA-text">{{player.kills}}</span>
                <span class="KDA-text-delimiter"> / </span>
                <span class="KDA-text">{{player.deaths}}</span>
                <span class="KDA-text-delimiter"> / </span>
                <span class="KDA-text">{{player.assists}}</span>
            </p>
        </div>
        <div class="weapon-icon-container">
            <div class="weapon-icon-wrapper flip">
                <img class="weapon-icon" src="../../assets/weapons/{{player.highestWeapon}}Killfeed.png" />
            </div>
        </div>
        <div class="money-container">
            <p class="money-element" [class]="side">
                <span class="money-text-red">-</span>
                <img class="credits-icon" src="../../assets/shop/ValorantCreditsRed.svg" />
                <span class="money-text-red">{{player.moneySpent}}</span>
            </p>
            <p class="money-element" [class]="side">
                <img class="credits-icon" src="../../assets/shop/ValorantCreditsWhite.svg" />
                <span class="money-text-white">{{player.money}}</span>
            </p>
        </div>
    </div>
</div>